services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: chatbot-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ChatbotLMS
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
